DATABASE_URL="postgresql://flashme:flashme@localhost:5432/flashme"
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh-in-production"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001


AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_S3_BUCKET=flashme-dev